@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,400;1,500;1,600;1,700;1,800&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body{
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.7)),url('img/pexels-erik-mclean-7524996.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

section{
    position: relative;
    height: 100vh;
    width: 100%;
    padding: 100px;
}

#text{
    position: absolute;
    top: 35%;
    left: 35%;
    color: white;
    font-size: 5rem;
}

span{
    color: red;
}


.btn{
    position: absolute;
    top: 60%;
    left:45%;
    text-decoration: none;
    padding: 10px 20px;
    background-color:red;
    font-size: 1.5em;
    border-radius: 40px;
    color: white
    
}

.sec{
    position: relative;
    padding: 100px;
    background-color: #000;
}

.sec h2{
    font-size: 3.5em;
    color: #fff;
    margin-bottom: 10px;
}

.sec p{
    color: white;
    font-size: 1.5em;
}

.super{
    color: red;
    text-decoration: none;
    text-align:center;
}
